@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Wallpoet:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/*--------------------------------------------------Navigation bar--*/



.navbar-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar  {
    margin-bottom: 10px;
    border: 0;
    background-color: #2b2d2f;
    text-align: center;
    padding-top: 0;
    
}
.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    height: 75px;
    margin-bottom: 10px;
    padding-top: 0;
}

.navbar-brand img{
    width: 150px;
    height: 140px;
    padding-bottom: 10px;
}


.navbar ul {
    background: transparent;
}

.navbar .navbarnav a {
    font-weight: bold;
}

.nav-item {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.active a {
    color: #2aba42 !important; 
}

.dropdown-menu {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    background-color: #2b2d2f;
    text-align: center;
}


@media only screen and (min-width: 320px) {

 .navbar ul {
    padding-top: 10px;
    background: #2b2d2f;
    }
}

@media only screen and (min-width: 576px) {

 .navbar-expand-sm .navbar-nav {
    background-color:transparent;
     }

}


/*--------------------------------------------------Main callout--
                                                    HOME
------------------------------------------------------------------*/

.callout-container {
    height: 100vh;

    background: url('../images/mountain-range.jpg') no-repeat bottom right fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.jumbotron h1 {
    font-family: "Exo", sans-serif;
    color: #2aba42;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 70px;
    text-decoration: underline overline;
}

.jumbotron span {
    font-family: "Wallpoet", sans-serif;
    font-weight: 600;
    padding: 40px;
}

.objec {
    color: #32b9e2;
}

.optim {
    color: #d23c3c;
}

.ideal {
    color: #8ae699;
}

.slogan {
    height: 50px;
    margin-top: 30px;
    width: 100%
}

.mission {
    height: 20%;
    margin-top: 40px;
    color: #95959a;
}