@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Modak:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/*--------------------------------------------------Navigation bar--*/



.navbar-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
}

.navbar  {
    height: 60px;
    padding-bottom: 16px;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    width: 100%;
    background-color: #2e557f;

}
.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    
}

.navbar-logo {
    height: 120px;
    width: 150px;
    background: url('../images/odealist-logo.png');    
    margin-top: 5px;
    margin-left: 5px;
    z-index: 2;
}

.navbar-nav {
    color: #ffffff;

}

.navbar-collapse {
    width: 100%;
    text-align: center;
}

.navbar ul {
    padding-top: 10px;
    background: transparent;

}


.navbar .navbarnav a {
    font-weight: bold;
}

.navdroptest {
    background:transparent;
}


@media only screen and (min-width: 320px) {

 .navbar ul {
    padding-top: 10px;
    background: #000000;
    }
}

@media only screen and (min-width: 576px) {

 .navbar-expand-sm .navbar-nav {
    background-color:transparent;
     }

}

/*--------------------------------------------------logo--*/

/*.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 150px;
    height: 230px;
    border-radius: 125px;
    overflow: hidden;
    background: transparent;
    box-sizing: border-box;
    z-index: 1;
}
*/

/*--------------------------------------------------Main callout--*/

.callout-container {
    height: 100vh;

    background: url('../images/misty-forest.jpg') no-repeat bottom right fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}

.jumbotron {
    background-color: transparent;
}
