@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Wallpoet:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


/*--------------------------------------------------Navigation bar--*/

.nav-container {
    padding: 0;
}

.navbar  {
    margin-bottom: 0;
    border: 0;
    background-color: #2b2d2f;
    text-align: center;
    padding-top: 15px;
    
}

.navbar-brand {
    height: 75px;
    margin-bottom: 10px;
    padding-top: 0;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.navbar-brand img{
    width: 150px;
    height: 140px;
    padding-bottom: 10px;
}


.navbar ul {
    background: transparent;
}

.navbar-nav {
    padding-right: 20px;
    font-size: 20px;
}
.navbar .navbarnav a {
    font-weight: bold;
}

.nav-item {
    font-family: "Exo", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.active a {
    color: #2aba42 !important; 
}

.dropdown-menu {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    background-color: #2b2d2f;
    text-align: center;
}

.dropdown-item {
    color: #2aba42 !important;
}


@media only screen and (min-width: 320px) {

 .navbar ul {
    padding-top: 10px;
    background: #2b2d2f;
    }
}

@media only screen and (min-width: 576px) {

 .navbar-expand-sm .navbar-nav {
    background-color:transparent;
     }

}

/*--------------------------------------------------------Main callout--
                                                                  HOME
------------------------------------------------------------------------*/

.callout-container {
    height: 100vh;
    width: 100%;
    background: url('../images/mountain-range.jpg') no-repeat bottom right fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
    font-family: "Roboto", sans-serif;
    padding: 0;
}

.main-title {
    text-align: center;
}

.callout-container h1 {
    font-family: "Exo", sans-serif;
    color: #2aba42;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 60px;
    text-decoration: underline overline;
    background-color: transparent;
}

.callout h2 {
    font-family: "Wallpoet", sans-serif;
    font-weight: 500;
    font-size: 40px;
    background-color: transparent;
}

.slogan {
    text-align: center;
}

.objec {
    color: #32b9e2;
}

.optim {
    color: #d23c3c;
}

.ideal {
    color: #8ae699;
}

.mission {
    margin-top: 60px;
    font-family: "Wallpoet", sans-serif;
    color: #adaddb;
    text-align: center;
    text-transform: bold;
}


/*--------------------------------------------------------------------------------------------------
                                                                                                Footer
----------------------------------------------------------------------------------------------------*/

.footer-container {
    padding: 0;
}
